@use '../variables' as *;
@use '../mixin' as *;

.alertWrap{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-bg;
    &.dark{
      background-color: $light-bg;
    }
    .alertBox{
        width: 500px;
        background-color: $light-bg;
        color: $light-text;
        border-radius: 10px;
        .header{
            width: 100%;
            height: 50px;
            @include flex-between;
            padding: 0 10px;
            border-bottom: 1px solid $dark-bg;
            .closeBtn{
                width: 25px;
                height: 25px;
                cursor: pointer;
                @include flex-center;
            }
        }
        &.dark{
            background-color: $dark-bg;
            color: $dark-text;
            .header{
                border-bottom: 1px solid $light-bg;
            }
        }
        .contents{
            width: 100%;
            min-height: 100px;
            padding: 10px;
        }
        .bottom{
            @include flex-center;
            padding-bottom: 10px;
            .btn{
                width: 100px;
                height: 40px;
                background-color: $active_color;
                color: #ffffff;
                @include flex-center;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}