@use '../variables' as *;
@use '../mixin' as *;

.detailBox{
    width: 320px;
    height: calc(100% - 70px);
    position: fixed;
    top: 70px;
    left: 10px;
    overflow: hidden;
    padding: 10px 0;
}
.detail{
    width: 100%;
    height: 100%;
    background-color: $light-bg;
    color: $light-text;
    border-radius: 15px;
    &.dark{
        background-color: $dark-bg;
        color: $dark-text;
    }
    .header{
        width: 100%;
        height: 50px;
        padding: 0 10px;
        @include flex-between;
        .btn{
            width: 25px;
            height: 25px;
            @include flex-center;
            cursor: pointer;
        }
        .name{
            width: 200px;
            overflow: hidden;
            white-space:nowrap;
			text-overflow:ellipsis;
        }
    }
    .contents{
        width: 100%;
        height: calc(100% - 50px);
        overflow-x: hidden;
        overflow-y: auto;
        // 스크롤바 전체 영역
        &::-webkit-scrollbar {
            width: 5px; // 세로 스크롤바 너비
        }
        // 스크롤바 트랙 (배경)
        &::-webkit-scrollbar-track {
            background-color: #f0f0f0; // 트랙 배경색
            border-radius: 4px;
        }
        // 스크롤바 썸 (움직이는 부분)
        &::-webkit-scrollbar-thumb {
            background-color: #999; // 썸 색상
            border-radius: 4px;
        }
        // 썸에 호버 시
        &::-webkit-scrollbar-thumb:hover {
            background-color: #666;
        }
        .listTitle{
            width: 100%;
            padding: 0 10px;
            margin: 20px 0;
        }
        .thumbnail{
            width: 100%;
            height: 200px;
            background-color: rgb(220, 220, 220);
        }
        .historyBox{
            width: 100%;
            padding: 0 10px;
            margin: 10px 0;
            input{
                width: 100%;
            }
            .historyDes{
                width: 100%;
                font-size: 14px;
                @include flex-between;
            }
        }
        .list{
            width: 100%;
            @include flex-between;
            flex-wrap: wrap;
            background-color: rgb(220, 220, 220);
            gap: 1px;
            .item{
                background-color: $light-bg;
                color: $light-text;
                &.dark{
                    background-color: $dark-bg;
                    color: $dark-text;
                }
                width: calc(50% - 0.5px);
                height: 68px;
                padding: 10px;
                .itemValue{
                    font-size: 14px;
                    margin-top: 8px;
                    @include flex-end;
                }
            }
        }
        .btnBox{
            width: 100%;
            @include flex-between;
            padding: 5px;
            gap: 5px;
            margin-top: 10px;
            .btn{
                flex: 1;
                height: 45px;
                cursor: pointer;
                border-radius: 10px;
                @include flex-center;
                color: #6d6d6d;
                background-color: rgb(220, 220, 220);
                &:hover{
                    color: #fff;
                    background-color: $active_color;
                }
            }
        }
    }
}

