@use '../mixin' as *;
@use '../variables' as *;

.sectionBox{
    width: 320px;
    height: calc(100% - 70px);
    position: fixed;
    top: 70px;
    left: 10px;
    overflow: hidden;
    padding: 10px 0;
    @include flex-col-start;
    .sectionTitleBox{
        width: 100%;
        height: 50px;
        background-color: $light-bg;
        color: $light-text;
        padding: 0 15px;
        border-radius: 15px 15px 0 0;
        @include flex-between;
        border-bottom: 1px solid $dark-bg;
        &.dark{
            background-color: $dark-bg;
            color: $dark-text;
            border-bottom: 1px solid $light-bg;
        }
        .sectionCloseBtn{
           @include flex-center;
           cursor: pointer;
        }
    }
    .sectionBtnBox{
        width: 100%;
        height: 40px;
        @include flex-between;
        border-bottom: 1px solid $dark-bg;
        &.dark{
            border-bottom: 1px solid $light-bg;
        }
        .sectionBtn{
            flex: 1;
            height: 100%;
            @include flex-center;
            background-color: $light-bg;
            color: $light-text;
            &.dark{
                background-color: $dark-bg;
                color: $dark-text;
            }
            &.active{
                font-weight: bold;
                color: $active_color !important;
                border-bottom: 3px solid $active_color;
            }
            cursor: pointer;
        }
    }
}