@use '../variables' as *;
@use '../mixin' as *;

.hoverPopupBox {
  width: max-content;
  min-width: 150px;
  position: absolute;
  background-color: $light-bg;
  color: $light-text;
  transform: translate(-50%, calc(-100% - 30px));
  border-radius: 10px;
  &::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 10px solid $light-bg; // 기본값
  }

  &.dark {
    background-color: $dark-bg;
    color: $dark-text;

    &::after {
      border-top: 10px solid $dark-bg; // 덮어쓰기만
    }
  }
}