@use '../variables' as *;
@use '../mixin' as *;

.prohibitedAreaHoveredPopup{
    padding: 10px;
    background-color: $light-bg;
    color: $light-text;
    border-radius: 10px;
    &.dark{
        background-color: $dark-bg;
        color: $dark-text;
    }
    .lbl1{
        font-size: 14px;
    }
    .lbl4{
        font-size: 13px;
        margin-top: 5px;
    }
}